# 1 pandas案例导入

In [6]:
import pandas as pd
import numpy as np

In [7]:
stock_change = np.random.normal(0,1,(10,5))

In [8]:
stock_change

array([[ 1.17108525,  0.26883255, -1.7950893 ,  0.178998  , -0.38355205],
       [ 2.54974114, -1.21068077, -0.66548648, -0.84547434,  0.47500505],
       [-1.03172529, -0.53745668,  0.30134993, -0.45428172,  1.54005363],
       [ 1.26898038,  2.07526958,  1.4110566 ,  0.81117554,  0.25206349],
       [ 0.1641972 ,  1.45446383, -0.97528228, -0.0720267 , -0.33458231],
       [-0.43137412,  1.33559933,  1.27767555,  1.93516564,  1.00164886],
       [ 0.67026839, -0.21301324,  1.31105016, -1.78139481, -1.12968646],
       [ 0.83042916,  0.29824319, -1.35230166, -0.80378988,  1.18420726],
       [-0.85720147, -0.23980393, -1.43019322,  1.03968441,  1.91447968],
       [-0.56921408,  0.07797924,  0.49813446, -0.04646658, -0.23454107]])

In [11]:
stock_rise = pd.DataFrame(stock_change)

In [12]:
stock_rise

          0         1         2         3         4
0  1.171085  0.268833 -1.795089  0.178998 -0.383552
1  2.549741 -1.210681 -0.665486 -0.845474  0.475005
2 -1.031725 -0.537457  0.301350 -0.454282  1.540054
3  1.268980  2.075270  1.411057  0.811176  0.252063
4  0.164197  1.454464 -0.975282 -0.072027 -0.334582
5 -0.431374  1.335599  1.277676  1.935166  1.001649
6  0.670268 -0.213013  1.311050 -1.781395 -1.129686
7  0.830429  0.298243 -1.352302 -0.803790  1.184207
8 -0.857201 -0.239804 -1.430193  1.039684  1.914480
9 -0.569214  0.077979  0.498134 -0.046467 -0.234541

In [14]:
stock_rise.shape

(10, 5)

In [15]:
stock_rise.shape[0]

10

In [16]:
stock_code = ["股票{}".format(i+1) for i in range(stock_rise.shape[0])]

In [17]:
stock_code

['股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9', '股票10']

In [23]:
stock_rise_shape=pd.DataFrame(stock_change,index=stock_code)

In [24]:
stock_rise_shape

             0         1         2         3         4
股票1   1.171085  0.268833 -1.795089  0.178998 -0.383552
股票2   2.549741 -1.210681 -0.665486 -0.845474  0.475005
股票3  -1.031725 -0.537457  0.301350 -0.454282  1.540054
股票4   1.268980  2.075270  1.411057  0.811176  0.252063
股票5   0.164197  1.454464 -0.975282 -0.072027 -0.334582
股票6  -0.431374  1.335599  1.277676  1.935166  1.001649
股票7   0.670268 -0.213013  1.311050 -1.781395 -1.129686
股票8   0.830429  0.298243 -1.352302 -0.803790  1.184207
股票9  -0.857201 -0.239804 -1.430193  1.039684  1.914480
股票10 -0.569214  0.077979  0.498134 -0.046467 -0.234541

In [25]:
date = pd.date_range(start="20201010",periods=stock_rise_shape(1),freq="B")

TypeError: 'DataFrame' object is not callable