In [6]:
import numpy as np
import pandas as pd

In [7]:
type(np.NaN)

float

# 1 缺失值处理

In [10]:
# movie = pd.read_csv("./csv_data.csv")

# 5 分组和聚合

In [15]:
col = pd.DataFrame({'color':['white','red','green','red','green'],
                    'object':['pen','pencil','pencil','ashtray','pen'],
                    'price1':[5.56,4.20,1.30,0.56,2.75],
                    'price2':[4.75,4.12,1.60,0.75,3.15],
        })

In [16]:
col

   color   object  price1  price2
0  white      pen    5.56    4.75
1    red   pencil    4.20    4.12
2  green   pencil    1.30    1.60
3    red  ashtray    0.56    0.75
4  green      pen    2.75    3.15

In [18]:
col.groupby(['color'])["price1"].mean()

color
green    2.025
red      2.380
white    5.560
Name: price1, dtype: float64

In [21]:
col['price1'].groupby(col['color']).mean()

color
green    2.025
red      2.380
white    5.560
Name: price1, dtype: float64

In [22]:
col.groupby(['color'],as_index=False)["price1"].mean()

   color  price1
0  green   2.025
1    red   2.380
2  white   5.560